@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

/* шаблон вставки в html 
@@include("../social/social.html", {
"second-class": "social--",
"vk-attr": "href=\"#\"",
"fb-attr": "href=\"#\"",
"inst-attr": "href=\"#\"",
"tw-attr": "href=\"#\"",
"ok-attr": "href=\"#\"",
"vk-text": "Мы Вконтакте",
"fb-text": "Мы в Фейсбуке",
"inst-text": "Мы в Инстаграм",
"tw-text": "Мы в Твиттере",
"ok-text": "Мы в Одноклассниках"
})
*/

.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  flex-grow: 1;
  a {
    display: block;
    box-sizing: border-box;
    min-width: 80px;
    height: 101px;
    font-size: 0;
    border: 1px solid $black-light--3;
  }
}

.social__item--vk {
  a {
    background: url("../img/icon__social--vk-big.png") 54% 36px no-repeat;
  }
}

.social__item--fb {
  a {
    background: url("../img/icon__social--fb-big.png") 50% 28px no-repeat;
  }
}

.social__item--inst {
  a {
    background: url("../img/icon__social--inst-big.png") 50% 31px no-repeat;
  }
}

@media ($tablet__width-mq) {
  .social__item--vk {
    a {
      background-position: 50% 35px;
    }
  }
  
  .social__item--fb {
    a {
      background-position: 50% 27px;
    }
  }
  
  .social__item--inst {
    a {
      background-position: 50% 30px;
    }
  }
}

@media ($desktop__width-mq) {
  .social__item {
    margin-right: 6px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    a {
      min-width: 50px;
      height: 50px;
    }
  }
  
  .social__item--vk {
    a {
      background: url("../img/icon__social--vk.png") 50% 14px no-repeat;
    }
  }
  
  .social__item--fb {
    a {
      background: url("../img/icon__social--fb.png") 50% 13px no-repeat;
    }
  }
  
  .social__item--inst {
    a {
      background: url("../img/icon__social--inst.png") 50% 13px no-repeat;
    }
  }
}
