@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.comments {
  @include container($mobile__container-width);
  @include triangle-container($gray-light--1, bottom, 160px, 35px);
  @include font--first(18px, 27px, $black);
  padding: 0 20px 14px;
  background: $gray-light--1;
}

.comments__title {
  margin: 0;
  padding: 30px 0 31px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.comments__link-home {
  display: none;
}

.comments__item {
  box-sizing: border-box;
  margin: 0 0 20px;
  padding: 0;
  border: 1px solid $gray;
}

.comments__item--first {
  .comments__author {
    padding-top: 19px;
  }
  .comments__advanced-list {
    padding-bottom: 1px;
  }
}

.comments__photo {
  position: relative;
  img {
    vertical-align: top;
  }
}

.comments__label {
  @include triangle-container-edge($brown, left, 25px, 9px);
  position: absolute;
  bottom: 29px;
  left: 0;
  padding: 11px 20px 12px 24px;
  font-weight: 700;
  font-size: 20px;
  color: $white;
  text-transform: uppercase;
  background: $brown;
}

.comments__author {
  display: block;
  padding: 23px 21px 14px;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
}

.comments__text {
  margin: 0;
  padding: 0 30px 15px 21px;
}

.comments__advanced-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 1px 0 12px;
  list-style: none;
}

.comments__advanced-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  &:nth-child(2n) {
    margin-right: 0;
  }
  span {
    font-size: 16px;
    text-transform: uppercase;
  }
}

.comments__advanced-item--mustache {
  width: 92px;
  padding-left: 9px;
}

.comments__advanced-item--haircut {
  width: 113px;
}

.comments__advanced-item--beard {
  width: 105px;
  margin-right: 21px;
}

.comments__advanced-item--shaving {
  width: 110px;
}

@media ($tablet__width-mq) {
  .comments {
    @include container($tablet__container-width, $tablet__container-padding);
    @include triangle-container-edge($gray-light--1, bottom, 384px, 42px);
    @include triangle-container($gray-light--1, bottom, 384px, 42px);
    position: relative;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    margin-top: -183px;
    padding-top: 33px;
    padding-bottom: 23px;
  }
  
  .comments__title {
    margin-right: auto;
    font-size: 40px;
  }
  
  .comments__link-home {
    display: block;
    align-self: center;
  }
  
  .comments__list {
    padding-top: 19px;
  }
  
  .comments__item {
    display: flex;
    margin-bottom: 39px;
  }
  
  .comments__label {
    top: 35px;
    bottom: auto;
    left: -4px;
  }
  
  .comments__content {
    display: flex;
    flex-direction: column;
    padding: 17px 29px 14px;
  }
  
  .comments__author {
    padding-bottom: 26px;
  }
  
  .comments__text {
    padding-right: 20px;
  }
  
  .comments__advanced-list {
    margin-top: auto;
    padding-bottom: 10px;
  }
  
  .comments__advanced-item--haircut {
    width: 115px;
  }
  
  .comments__advanced-item--beard {
    width: 107px;
  }
  
  .comments__item--first {
    .comments__author {
      padding-top: 26px;
    }
    .comments__content {
      padding-bottom: 17px;
    }
  }
}

@media ($desktop__width-mq) {
  .comments {
    @include container($desktop__container-width, $desktop__container-padding);
    @include triangle-container-edge($gray-light--1, bottom, 600px, 65px);
    margin-top: -340px;
    padding-bottom: 48px;
    &::after {
      display: none;
    }
  }
  
  .comments__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
  }
  
  .comments__item {
    position: relative;
    flex-direction: column;
    width: 294px;
  }
  
  .comments__photo {
    position: static;
  }
  
  .comments__label {
    top: 26px;
    right: 0;
    left: auto;
    &::before {
      left: 0;
      transform: rotate(180deg) translateY(50%);
    }
  }
  
  .comments__content {
    flex-grow: 1;
    padding: 6px 11px 6px 13px;
  }
  
  .comments__text {
    padding-bottom: 25px;
    br {
      display: none;
    }
  }
  
  .comments__item--first {
    flex-direction: row;
    width: 100%;
    .comments__content {
      padding-top: 103px;
      padding-bottom: 12px;
      padding-left: 18px;
    }
    .comments__text {
      padding-right: 125px;
    }
    .comments__advanced-item {
      &:nth-child(2n) {
        margin-right: 26px;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    .comments__advanced-item--shaving {
      width: 105px;
    }
  }
}