.symbol {
  display: inline-block;
  fill: $brown;
}

.symbol__beard--admiral {
  width:51.48px;
  height:49.48px;
}
.symbol__beard--boyar {
  width:57px;
  height:97.68px;
}
.symbol__beard--lumberjack {
  width:57.68px;
  height:68.64px;
}
.symbol__beard--polar-explorer {
  width:62.4px;
  height:78.49px;
}
.symbol__beard--wiseacre {
  width:44.66px;
  height:104.78px;
}
.symbol__features--cool {
  width:94.16px;
  height:88.62px;
}
.symbol__features--expensive {
  width:94.16px;
  height:91.99px;
}
.symbol__features--fast {
  width:94.94px;
  height:94.16px;
}
.symbol__icon__beard {
  width:22.07px;
  height:21.21px;
}
.symbol__icon__mustache {
  width:44.98px;
  height:12.9px;
}
.symbol__icon__scissors {
  width:21px;
  height:20px;
}