$font-family--first: "PT Sans Narrow", Arial, sans-serif;
$font-family--second: "", Arial, sans-serif;
$font-family--icon: false;

$width--desktop: "(min-width: 1200px)";
$width--tablet: "(min-width: 768px)";
$width--mobile-only: "(max-width: 767px)";