@import "../../scss/variables";
@import "../../scss/mixins";

@mixin a__font {
  @include font--first(18px, 24px, $white, 700, uppercase); /*параметры шрифта для ссылок*/
}

$a__color--hover: false; /*                цвет шрифта при наведении на ссылку*/
$a__color--active: false; /*              цвет шрифта при клике по ссылке*/

$a__bg: $brown; /*                         цвет фона ссылки*/
$a__bg--hover: false; /*               цвет фона ссылки при наведении*/
$a__bg--active: false; /*              цвет фона ссылки при клике*/

$a--current: true; /*                    включение стилизации ссылки для текущей страницы*/
$a__bg--current: false; /*                цвет фона ссылки для текущей страницы*/
$a__color--current: false; /*             цвет шрифта ссылки для текущей страницы*/
$li__box-shadow: inset 0 -3px $brown; /*         тень пункта меню  для текущей страницы*/

/* шаблон вставки в html
@@include("../menu/menu--7.html", {
"second-class": "menu--",
"li1-class": "menu__item--current",
"li2-class": "",
"li3-class": "",
"li4-class": "",
"li5-class": "",
"li6-class": "",
"li7-class": "",
"li8-class": "",
"a1-attr": "href=\"#\"",
"a2-attr": "href=\"#\"",
"a3-attr": "href=\"#\"",
"a4-attr": "href=\"#\"",
"a5-attr": "href=\"#\"",
"a6-attr": "href=\"#\"",
"a7-attr": "href=\"#\"",
"a8-attr": "href=\"#\"",
"a1-text": "",
"a2-text": "",
"a3-text": "",
"a4-text": "",
"a5-text": "",
"a6-text": "",
"a7-text": "",
"a8-text": ""
})
*/

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    @include a__font();
    display: block;
    padding: 13px 22px;
    text-decoration: none;
    background: $a__bg;
    &:hover {
      color: $a__color--hover;
      background: $a__bg--hover;
    }
    &:active {
      color: $a__color--active;
      background: $a__bg--active;
    }
  }
  @at-root .menu__item {
    display: block;
    @if ($a--current) {
      &--current {
        cursor: default;
        @if ($li__box-shadow) {
          box-shadow: $li__box-shadow;
        }
        a {
          @if ($a__color--current) {
            color: $a__color--current;
          }
          background: $a__bg--current;
          &:hover {
            @if ($a__color--current) {
              color: $a__color--current;
            }
            background: $a__bg--current;
          }
          &:active {
            @if ($a__color--current) {
              color: $a__color--current;
            }
            background: $a__bg--current;
          }
        }
      }
    }
  }
}

.menu--nav-mobile {
  a {
    border-bottom: 1px solid $brown-dark--2;
    box-shadow: inset 0 1px 0 $brown-light--1;
    span {
      display: none;
    }
  }
}

.menu--user {
  a {
    @include pseudo-before(16px, 16px);
    position: relative;
    padding-left: 49px;
    font-weight: 400;
    text-transform: none;
    background-color: transparent;
    border: none;
    &::before {
      @include center(absolute, false, true);
      left: 20px;
      background: url("../img/sprite/sprite.png") -50px -50px no-repeat;
      opacity: 0.3;
    }
  }
}

@media ($tablet__width-mq) {
  /*Горизонтальное меню*/
  .menu {
    display: flex;
    flex-wrap: wrap;
    a {
      padding: 25px 0;
      background-color: transparent;
      border: none;
      box-shadow: none;
      span {
        display: inline;
      }
    }
  }
  .menu__item {
    display: flex;
    justify-content: center;
    margin-right: 33px;
    &:last-child {
      margin-right: 0;
    }
  }
  
  .menu--user {
    a {
      min-width: 47px;
      font-size: 0;
      &::before {
        left: 0;
      }
    }
  }
}

@media ($desktop__width-mq) {
  .menu__item {
    margin-right: 65px;
  }
  
  .menu--user {
    a {
      min-width: 72px;
      font-weight: 700;
      font-size: 18px;
      text-align: right;
      text-transform: uppercase;
    }
  }
}
