@import '../../scss/variables';
@import '../../scss/mixins';

$btn__bg: false;
$btn__bg--hover: false;
$btn__bg--active: false;

$btn__color: $white;
$btn__color--hover: $white;
$btn__color--active: $white;

$btn__border: 1px solid $black-light--3;
$btn__border--hover: 1px solid $black-light--3;
$btn__border--active: 1px solid $black-light--3;

$btn__padding: 12px;

.btn {
  @include font--first(18px, 24px, $btn__color, 700, uppercase);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: $btn__padding;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  @if ($btn__border) {
    border: $btn__border;
  }
  @if ($btn__bg) {
    background: $btn__bg;
  }
  &:hover {
    @if ($btn__color--hover) {
      color: $btn__color--hover;
    }
    @if ($btn__bg--hover) {
      background: $btn__bg--hover;
    }
    @if ($btn__border--hover) {
      border: $btn__border--hover;
    }
  }
  &:active {
    @if ($btn__color--active) {
      color: $btn__color--active;
    }
    @if ($btn__bg--active) {
      background: $btn__bg--active;
    }
    @if ($btn__border--active) {
      border: $btn__border--active;
    }
  }
}

.btn--max-width {
  display: block;
  width: 100%;
}

.btn--dark {
  color: $black;
  border-color: $gray;
}

.btn--color {
  background-color: $brown;
  border-color: $brown;
}

@media ($tablet__width-mq) {
  .btn--tablet {
    width: 160px;
  }
  
  .btn--text {
    display: inline;
    padding: 0;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: default;
    &:hover {
      background: none;
      border: none;
    }
    &:active {
      background: none;
      border: none;
    }
  }
  
  .btn--form {
    font-size: 24px;
    line-height: 42px;
  }
}
