@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.appointment {
  @include font--first(18px, 30px, $black);
  @include container($mobile__container-width, $mobile__container-padding);
  @include triangle-container($gray-light--1, bottom, 160px, 34px);
  background: $gray-light--1;
}

.appointment__title {
  margin: 0;
  padding: 29px 0 30px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.appointment__link-home {
  display: none;
}

@media ($tablet__width-mq) {
  .appointment {
    @include container($tablet__container-width, $tablet__container-padding);
    @include triangle-container-edge($gray-light--1, bottom, 384px, 42px);
    position: relative;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    margin-top: -183px;
    padding-top: 32px;
    &::after {
      display: none;
    }
  }
  
  .appointment__title {
    margin-right: auto;
    font-size: 40px;
  }
  
  .appointment__link-home {
    display: block;
    align-self: center;
  }
}

@media ($desktop__width-mq) {
  .appointment {
    @include container($desktop__container-width, $desktop__container-padding);
    @include triangle-container-edge($gray-light--1, bottom, 600px, 65px);
    margin-top: -340px;
  }
}