@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.main-nav {
  position: relative;
  box-sizing: border-box;
  min-height: 568px;
  margin-left: 70px;
  background-color: $brown-dark--1;
  @include pseudo-before(6px, 100%);
  &::before {
    @include gradient-x($black-light--5, transparent);
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.main-nav__toggle {
  @include modal-close(70px, 50px, 34px, 2px, $white);
  top: 0;
  left: -70px;
  font-size: 0;
  background: $brown-dark--1;
  border: none;
  outline: none;
}

@media ($mobile__width-mq) {
  .main-nav--closed {
    min-height: 1px;
    margin-left: 0;
    &::before {
      display: none;
    }
    .menu__item {
      display: none;
    }
    .menu__item--current {
      display: block;
    }
    a {
      text-align: center;
    }
    .main-nav__toggle {
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
      left: 250px;
      span {
        @include hamburger($white, $white, 35px, 20px, 2px, 3);
        @include center(absolute, true, true);
      }
    }
  }
  .main-nav--nojs {
    box-sizing: border-box;
    min-height: 568px;
    margin-left: 70px;
    &::before {
      display: block;
    }
    .main-nav__toggle {
      @include modal-close(70px, 50px, 34px, 2px, $white);
      left: -70px;
      background: $brown-dark--1;
      span {
        display: none;
      }
    }
    .menu__item {
      display: block;
    }
    a {
      text-align: left;
    }
  }
}

@media ($tablet__width-mq) {
  .main-nav {
    min-height: 0;
    margin-left: 0;
    background: $black;
    &::before {
      display: none;
    }
  }
  
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 $tablet__container-padding;
  }
  
  .main-nav__toggle {
    display: none;
  }
}

@media ($desktop__width-mq) {
  .main-nav__wrapper {
    padding: 0 $desktop__container-padding+30px;
  }
}